<h1>New example</h1>

<%= form_with model: @example, url: examples_path, local: true do |f| %>
<%= f.check_box :"#1", name: "example[flag][1]" %>
<%= f.check_box :"#2", name: "example[flag][2]" %>
<%= f.check_box :"#3", name: "example[flag][3]" %>
  <div class="actions">
    <%= f.submit "投稿する" %>
  </div>
<% end %>

<%
=begin%>
 <%= render "form", example: @example %>

<br>

<div>
  <%= link_to "Back to examples", examples_path %>
</div>
<%
=end%>
